body {
	font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
	max-width: 600px;
	margin: 0 auto;
	padding-top: 16px;
	-webkit-font-smoothing: antialiased;
	font-size: 1.125em;
	color: #333;
	line-height: 1.5em;
}

h1, h2, h3 {
	color: #000;
}
h1 {
	font-size: 2.5em
}

h2 {
	font-size: 2em
}

h3 {
	font-size: 1.5em
}

h5 {
	margin: 0.2em 0 -0.6em 0;
}

a {
	text-decoration: none;
	color: #09f;
}

a:hover {
	text-decoration: underline;
}

input {
	width: 20em;
}

textarea {
    color: #444;
    font-size: 0.9em;
    height: calc(100% - 10px);
    width: calc(100%);
    padding:0;
	background-color: #fff;
}

div#chat { 
    height: 500px;
}
div#received {
    height: calc(80%);
}

div#send {
    height: calc(20%);
    display: inline-block;
    width: calc(100%);   
}

#send-btn {
	background-color: #3498db;
    border: none;
    color: white;
    font-size: 0.8em;
    padding: 0.5em 0.7em 0.6em 0.7em;
    width: calc(30%);
    height: calc(100% - 10px);
    float:right;
}

#send-btn:hover {
    background-color: #3cb0fd;
}

textarea#received {
	overflow: hidden;
}

textarea#send {
    width: calc(70% - 5px);
}